<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add 
			name="FerreteriaEntities" 
			connectionString="metadata=res://*/FModel.csdl|res://*/FModel.ssdl|res://*/FModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-T2I28GR\SQLEXPRESS;initial catalog=Ferreteria;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<appSettings>
		<add key="StringConnectionEncrypted" value="false" />
		<add key="StringConnectionFerreteria" value="FerreteriaEntities" />
	</appSettings>
</configuration>